@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
--dark-color-a: #667aff;
--dark-color-b: #ccf1c4;
--light-color: #e6e9ff;
--success-color: #5cb85c;
--error-color: #d9534f;
}
p.text{
padding: 0;
margin:0;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
position: relative;
font-family: 'Roboto', sans-serif;
font-size: 16px;	
background-color: #ccf1c4;
min-height: 100vh;
color: #000;
}
ul {
list-style: none;
}
a {
text-decoration: none;
}
p.mt-4{
text-align: center;
}
a.link_account,
a.link_account:hover, 
a.link_account:active,
a.link_account:focus{
color: #19580b;	
}
.btn {
cursor: pointer;
padding: 5px 15px;
background-color: #19580b;
color: #fff;
border: 0;
font-size: 17px;
transition: background-color 0.2s ease;
}
.btn:hover,
.btn:active,
.btn:focus {
background-color: #19580b!important;
box-shadow: none!important;
opacity: 0.8;
color: #fff;
}
/* Chat Page */
.chat-container {
max-width: 1100px;
background: #fff;
margin: 30px auto;
overflow: hidden;
}
.chat-header {
background-image: url('../img/brown.jpg');
background-repeat: repeat;
color: #fff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
}
.chat-main {
display: grid;
grid-template-columns: 1fr 3fr;
}
.chat-sidebar {
background-image: url('../img/grey.jpg');
background-repeat: repeat;
color: #fff;
padding: 20px 20px 60px;
overflow-y: scroll;
}
.chat-sidebar h2 {
font-size: 20px;
background: rgba(0, 0, 0, 0.1);
padding: 10px;
margin-bottom: 20px;
}
.chat-sidebar h3 {
margin-bottom: 15px;
}
.chat-messages {
padding: 30px;
max-height: 300px;
overflow-y: scroll;

}
.chat-messages .message {
margin-bottom: 15px;
background: var(--dark-color-b);
background-repeat: repeat;
border-radius: 5px;
overflow-wrap: break-word;
}
.chat-messages .message .meta {
font-size: 15px;
font-weight: bold;
background: var(--dark-color-b);
background-repeat: repeat;
opacity: 0.7;
margin-bottom: 7px;
}
.chat-messages .message .meta span {
color: #000;
}
.chat-form-container {
padding: 20px 30px;
background-image: url('../img/brown.jpg');
background-repeat: repeat;
}
.chat-form-container form {
display: flex;
}
.chat-form-container input[type='text'] {
font-size: 1rem;
padding: 5px;
height: 40px;
flex: 1;
}
/* Join Page */
.join-container {
max-width: 500px;
margin: 80px auto;
color: #fff;
}
.join-header {
text-align: center;
padding: 20px;
background: var(--dark-color-a);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.join-main {
padding: 30px 40px;
background: var(--dark-color-b);
}
.join-main p {
margin-bottom: 20px;
}
.join-main .form-control {
margin-bottom: 20px;
}
.join-main label {
display: block;
margin-bottom: 5px;
}
.join-main input[type='text'] {
font-size: 16px;
padding: 5px;
height: 40px;
width: 100%;
}
/*.join-main select {
font-size: 16px;
padding: 5px;
height: 40px;
width: 100%;
}*/
.join-main .btn {
margin-top: 20px;
width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.game-title {
    display: block;
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.game {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 242px;
    margin: 0 auto 2rem;
    border: 1px solid #000;
}
.tictactoe_cell {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 78px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.tictactoe_cell:hover {
    opacity: 0.8;
}
.tictactoe_cell.o {
    background-color: blue;
}
.tictactoe_cell.x {
    background-color: yellow;
}


.information_text{
margin-top: 30%;
font-size: 2.2rem;
text-align: center;
font-weight: bold;
}



.logout_section{
text-align: right;
margin-bottom: 0.5rem;
padding-top: 0.5rem;
}




#canvas_container{
background-image: url('../img/grey.jpg');
background-repeat: repeat;
text-align: center;
position: relative;

}
.canvas_container_border{

display: block;
width: 100%;
}
canvas{
border: 20px solid #b6bbd4;
position: relative;
z-index: 3;
width: 910px;
height: 410px;
position: absolute;
top: 10%;
left: 0;
right: 0;
margin: 0 auto;
display: block;
max-width: 90%;
}
#user_name,
#game_select{
display: none;
}
.game_arrows{
display: inline-block;
margin: 0 auto;
max-width: 2rem;
cursor: pointer;
}
.game_arrows:hover{
opacity: 0.8;
}
.buttons_block{
max-width: 150px;
background-color: #fff;
padding: 0.5rem;
}
.buttons_block>div {
text-align: center;
}
.game_arrows.double{
float: right;
margin-left: 1.5rem;
}
.chat-header{
position: relative;
}
.buttons_block{
position: absolute;
right: 1%;
bottom: 0;
z-index: 4;
}

#countdown_input{
border: 1px solid transparent!important;
display: block;
text-align: center;
padding: 0.5rem 1rem; 
margin: 0 auto;
font-weight: bold;
font-size: 1.8rem;
}

.clockform{
margin-top: 4rem;
}

#preloader{
min-height: 100vh;
min-width: 100vw;
background-color: #222;
position: fixed;
top: 0;
right: 0;
left: 0; 
z-index: 700;
text-align: center;
padding-top: 5%;  
overflow-x: hidden; 
}

#preloader>div>>img{
display: block;
max-width: 80%;
margin: 0 auto;
}

#user_id{
display: none;
}


@media (max-width: 700px) {
.chat-main {
display: block;
}
.chat-sidebar {
display: none;
}
}
@media (max-width: 767px) {
.game_arrows {
max-width: 1.5rem;
}
.h3, h3 {
    font-size: 1.2rem;
}
.chat-form-container input[type='text'] {
    font-size: 0.9rem;
    padding: 4px;
    height: 30px;
}
}


